<!DOCTYPE html>
<html lang="en"
      th:fragment="layout (title, script, content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script type="module">
        import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo';
        import {Application} from "https://unpkg.com/@hotwired/stimulus/dist/stimulus.js"
        import ResetFormController from "/assets/javascripts/controllers/reset_form_controller.mjs"
        window.Stimulus = Application.start()
        Stimulus.register("reset-form", ResetFormController)
    </script>
    <title th:replace="${title}"></title>
    <script th:replace="${script}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarText"
                aria-controls="navbarText"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" th:unless="${email}">
                    <a class="nav-link active" href="/oauth/login/cognito" th:text="#{login}"></a>
                </li>
                <li class="nav-item" th:if="${email}">
                    <a class="nav-link active" href="/user" th:text="#{profile}"></a>
                </li>
                <li class="nav-item" th:if="${email}">
                    <a class="nav-link active" href="/todo" th:text="#{todo.list}"></a>
                </li>
                <li class="nav-item" th:if="${email}">
                    <a class="nav-link active" href="/oauth/logout" th:text="#{logout}"></a>
                </li>
            </ul>
            <span class="navbar-text"
                  th:if="${email}"
                  th:text="${email}">
            </span>
        </div>
    </div>
</nav>
<div class="container">
    <div th:replace="${content}"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>